@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="tabstyle" style="margin-top:20px"><tr><td style="padding:25px">
<div class="desc">
<p>Thank you for using Syncfusion ASP.NET Core Wizard. We have modified the default ASP.NET Core internet application project template based on Syncfusion controls and settings. 
The following are the samples links:
</p>
</div>
<div class="sf-samples" style="white-space:nowrap;">
	<ul class="ulstyle">
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DataGrid","DataGridFeatures","DataGrid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ComboBox","ComboBoxFeatures","ComboBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Diagram","DiagramFeatures","Diagram",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("HeatMap","HeatMapFeatures","HeatMap",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Kanban","KanbanFeatures","Kanban",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Chart","ChartFeatures","Chart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("AccumulationChart","AccumulationChartFeatures","AccumulationChart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Maps","MapsFeatures","Maps",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Barcode","BarcodeFeatures","Barcode",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeMap","TreeMapFeatures","TreeMap",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RangeNavigator","RangeNavigatorFeatures","RangeNavigator",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("LinearGauge","LinearGaugeFeatures","LinearGauge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("CircularGauge","CircularGaugeFeatures","CircularGauge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SparkLine","SparkLineFeatures","SparkLine",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SmithChart","SmithChartFeatures","SmithChart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Schedule","ScheduleFeatures","Schedule",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("GanttChart","GanttChartFeatures","GanttChart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Tooltip","TooltipFeatures","Tooltip",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DashboardLayout","DashboardLayoutFeatures","DashboardLayout",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Card","CardFeatures","Card",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Avatar","AvatarFeatures","Avatar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Toast","ToastFeatures","Toast",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Message","MessageFeatures","Message",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Badge","BadgeFeatures","Badge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ListView","ListViewFeatures","ListView",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Dialog","DialogFeatures","Dialog",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DatePicker","DatePickerFeatures","DatePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Calendar","CalendarFeatures","Calendar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DateRangePicker","DateRangePickerFeatures","DateRangePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Dropdownlist","DropdownlistFeatures","Dropdownlist",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("MultiSelect","MultiSelectFeatures","MultiSelect",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RichTextEditor","RichTextEditorFeatures","RichTextEditor",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Upload","UploadFeatures","Upload",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Button","ButtonFeatures","Button",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Speed Dial","SpeedDialFeatures","SpeedDial",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DropDown Button","DropDownButtonFeatures","DropDownButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Radio Button","RadioButtonFeatures","RadioButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Check Box","CheckBoxFeatures","CheckBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Split Button","SplitButtonFeatures","SplitButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Group Button","GroupButtonFeatures","GroupButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Switch Button","SwitchButtonFeatures","SwitchButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Progress Button","ProgressButtonFeatures","ProgressButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Floating Action Button","FloatingActionButtonFeatures","FloatingActionButton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Dropdown Tree","DropdownTreeFeatures","DropdownTree",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Autocomplete","AutocompleteFeatures","Autocomplete",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DateTimePicker","DateTimePickerFeatures","DateTimePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ColorPicker","ColorPickerFeatures","ColorPicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Signature","SignatureFeatures","Signature",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Chips","ChipsFeatures","Chips",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ListBox","ListBoxFeatures","ListBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DocumentEditor","DocumentEditorFeatures","DocumentEditor",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Image Editor","ImageEditorFeatures","ImageEditor",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("MaskedTextBox","MaskedTextBoxFeatures","MaskedTextBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("NumericTextBox","NumericTextBoxFeatures","NumericTextBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TimePicker","TimePickerFeatures","TimePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TextBoxes","TextBoxesFeatures","TextBoxes",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Slider","SliderFeatures","Slider",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Pdf","PdfFeatures","Pdf",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Presentation","PresentationFeatures","Presentation",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DocIO","DocIOFeatures","DocIO",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Splitter","SplitterFeatures","Splitter",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("XlsIO","XlsIOFeatures","XlsIO",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("QueryBuilder","QueryBuilderFeatures","QueryBuilder",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("PdfViewer","PdfViewerFeatures","PdfViewer",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Spreadsheet","SpreadsheetFeatures","Spreadsheet",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeGrid","TreeGridFeatures","TreeGrid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("InplaceEditor","InplaceEditorFeatures","InplaceEditor",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeView","TreeViewFeatures","TreeView",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Accordion","AccordionFeatures","Accordion",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Breadcrumb","BreadcrumbFeatures","Breadcrumb",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Skeleton","SkeletonFeatures","Skeleton",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Ribbon","RibbonFeatures","Ribbon",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Tab","TabFeatures","Tab",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SideBar","SideBarFeatures","SideBar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Toolbar","ToolbarFeatures","Toolbar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Carousel","CarouselFeatures","Carousel",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("AppBar","AppBarFeatures","AppBar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ContextMenu","ContextMenuFeatures","ContextMenu",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Menu","MenuFeatures","Menu",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("FileManager","FileManagerFeatures","FileManager",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("PivotGrid","PivotGridFeatures","PivotGrid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Rating","RatingFeatures","Rating",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	 	</ul>
	</div>
			</td>
		</tr>
	</table>
<div class="clear"> </div>